@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Raleway", sans-serif; */
ul {
    list-style: none;
}
body {
    background-image: url(images/bg-desktop.png);
    background-position: bottom;
    font-family: "Raleway", sans-serif;
    background-color: hsl(229, 57%, 11%);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 97.6vh;
}
@media (max-width:769px) {
    body {
    background-image: url(images/bg-mobile.png);
    background-size: cover;
    }
}
.container {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: flex-end;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width:769px) {
    .container {
        display: block;
        width: 100%;
    }
}
.container .boxOne {
    background-color: hsl(228, 56%, 26%);
    border-radius: 7px 70px 7px 7px;
    -webkit-border-radius: 7px 70px 7px 7px;
    -moz-border-radius: 7px 70px 7px 7px;
    -ms-border-radius: 7px 70px 7px 7px;
    -o-border-radius: 7px 70px 7px 7px;
    width: 210px;
}
.container .boxOne .logo img{
    padding: 25px 20px;
    width: 125px;
}
.container .boxOne .icons ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
.container .boxOne .icons ul li {
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 40px;
    height: 40px;
    position: relative;

}
.container .boxOne .icons ul li img {
    text-align: center;
    top: 20%;
    left: 20px;
    transform: translate(-50%);
    position: absolute;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
@media (max-width:769px) {
    .container {
        display: block;
        width: 100%;
    }
    .container .boxOne {
        padding-bottom: 20px;
        width: 100%;
        margin-bottom: 30px;
    }
}
.container .boxTwo {
    background-color: hsl(228, 56%, 26%);
    border-radius: 7px;
    width: 450px;
    height: 115px;
}
.container .boxTwo .title {
    font-size: 12px;
    font-weight: 300;
    padding-top: 25px;
    padding-left: 30px;
}
.container .boxTwo .title span {
    font-weight: 400;
}
.container .boxTwo .nums {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.container .boxTwo .nums h6 {
    font-weight: 500;
    margin: 9px 0;
}
.container .boxTwo .storge {
    background-color:hsl(229, 57%, 11%);
    height: 13px;
    width: 400px;
    margin: auto;
    margin-top: 16px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 4px;
}
.container .boxTwo .storge span {
    display: block;
    height: 100%;
    position: relative;
    background: linear-gradient(135deg, hsl(6, 100%, 80%) 10%, hsl(335, 100%, 65%) 100%);
    border-radius: 50px;
}
.container .boxTwo .storge span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: white transparent transparent transparent;
    right: -8px;
    top: -15px;
}
.container .boxTwo .storge span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: #fff;
    color: black;
    top: -60px;
    right: -20px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}

@media (max-width:769px) {
    .container .boxTwo {
        width: 100%;
    }
    .container .boxTwo .storge {
        width: -webkit-fill-available;
        margin: 13px 10px;
    }
}